@model IList<PromotorModel>

<h1>Promotores de Evento Cadastrados</h1>

@if (!string.IsNullOrEmpty((String)TempData["Mensagem"]))
{
    <div class="alert alert-warning" role="alert">@TempData["Mensagem"]</div>
}

<p class="toolbar">
    <a href="/Promotor/Novo" class="create btn btn-dark">Novo Promotor</a>
</p>

<table class="table table-striped" border="1" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th data-field="id">Id</th>
            <th data-field="name">Nome</th>
            <th data-field="tipo">Email</th>
            <th data-field="telefone">Telefone</th>
            <th class="actions" width="220">Ações</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td data-field="id">@item.PromotorId</td>
                <td data-field="name">@item.Nome</td>
                <td data-field="tipo">@item.Email</td>
                <td data-field="telefone">@item.Telefone</td>
                <td class="actions" width="220">
                    <a href="#">Detalhe</a>
                    <a href="/Promotor/Editar/@item.PromotorId">Editar</a>
                    <a href="#">Remover</a>
                </td>
            </tr>
        }

    </tbody>
</table>

